@import url('https://fonts.googleapis.com/css2?family=Dekko&family=Farsan&family=Kalam:wght@300;400;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Merienda:wght@300..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans+Narrow:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --color1:#F3D8C7;
    --color2:#7d1128;
    --color3:#f15a24;
    --color4:#ffffff;
    --color5:#01013a;
    --color6:#ffc5a1;
    --color7: #f4ebe5;
    --aside-width:95px;
    --mobile-aside-width:28px;
}/* ALL VARIABLES USED WITHIN CSS */

*{
    box-sizing: border-box;
    padding:0;
    border: 0;
    margin: 0;
    font-family: "Farsan", cursive;
    -webkit-tap-highlight-color: rgb(255, 255, 255,0);
    -webkit-focus-ring-color: rgb(255, 255, 255,0);
    scroll-behavior: smooth;
}/* GENERAL CODE FOR ALL ELEMENTS */

*:focus{
    outline: none;
}

a{
    color: black;
    text-decoration: none;
}

body,html{
    height: 100vh;
    position: relative;
    background-color:var(--color7);
}

body.active{
    overflow: hidden;
}

#overlay{
    position: fixed;
    background-color: rgb(0, 0, 0,0.7);
    width:100%;
    height:100vh;
    left: -100%;
    z-index: 4;
    transition: 450ms ease-in-out;
}

#overlay.active{
    left: 0;
}

#overlay2{
    position: fixed;
    background-color: rgb(0, 0, 0,0.7);
    width:100%;
    height:100vh;
    left: 0;
    display: none;
    z-index: 4;
    transition: 450ms ease-in-out;
}

#bubble{
    display: none;
}

#overlay2.active{
    display: block;
}

.policies{
    position: fixed;
    visibility: hidden;
    background-color: white;
    padding: 2rem 2rem;
    width: 50%;
    height: 30rem;
    top: 10%;
    right: 23%;
    z-index: 5;
    text-align: justify;
    font-family: 'Times New Roman';
    scale: 0;
    overflow-y: scroll;
    transition: 250ms ease-in-out;
}

.policies h1{
    font-family: 'Times New Roman';
    margin: 0 0 1rem 0;
}

.policies::-webkit-scrollbar {
    width: 10px;
  }

.policies::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}

.policies::-webkit-scrollbar-thumb{
    background-color: #c1c1c1;
    border-radius: 10px;
}

#privacy-policy.active,
#terms-and-conditions.active{
    visibility: visible;
    scale: 1;
}

#close-btn{
    position: fixed;
    top: 5%;
    right: 5%;
    cursor: pointer;
    z-index: 5;
    padding: 1rem 0;
    display: none;
}

#close-btn.active{
    display: block;
}

.close-lines{
    width: 2rem;
    height: 2px;
    background-color: var(--color3);
}

.cline1{
    rotate: 45deg;
    transform: translate(1.3px, 0px);
}

.cline2{
    rotate: -45deg;
    transform: translate(1.3px, 0px);
}


aside{
    position:fixed;
    background-color: var(--color1);
    border-right: 2px solid var(--color3);
    width: var(--aside-width);
    height: fit-content;
    overflow: hidden;
    z-index: 5;
    transition: 500ms;
    
}

aside.active{
    width: 230px;
}

nav{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 30px 0;
}

nav>*{
    margin: 0 0 0 1.9rem;
}


.lines{
    position: absolute;
    bottom: 50%;
    right: -3px;
    rotate: 90deg;
    cursor: pointer;
    padding: 10px 10px 10px 20px;
}

.line{
    position: relative;
    top: -10px;
    width: 20px;
    height: 2px;
    background-color: var(--color5);
    transition: transform 250ms ease;
    transition: rotate 250ms ease;
}

.line1.active{
    transform-origin: left;
    transform: translate(8.8px, -1px);
    rotate: 50deg;
}

.line2.active{
    display: none;
}

.line3.active{
    transform-origin: right;
    transform: translate(15.5px, -9px);
    rotate: 125deg;
}


.lines:hover .line{
    background-color: var(--color3);
}

.line:not(:last-child){
    margin-bottom: 0.1rem;

}

#company-logo{
    position: relative;
    display: inline-flex;
    height: 70px;
    margin: 0 0 0 -1.5rem;
}

#logo{
    position: absolute;
    height: 70px;
    opacity: 0;
    margin: 0 0 0 1rem;
    transition: opacity 300ms;
}

#logo.active{
    opacity: 1;
}

#icon{
    opacity: 1;
    transition: 300ms ease;
}

#icon.active{
    opacity: 0;
}

#nav-sub-container{
    list-style-type: none;
    display: flex;
    flex-flow: column;
    row-gap: 2rem;
    margin: 2.2rem 0 0 0;
}

.tab{
    font-size: 21px;
    font-weight: 600;
    width: 145px;
    color: var(--color5);
    transition: all 250ms;
}

.tab:hover, .actives{
    color: var(--color3);
}


.nav-text{
    opacity: 0;
    transition: opacity 400ms;
}

.nav-text.active{
    opacity: 1;
}

.tab i{
    margin: 0 .7rem 0 0;
}

section{
    padding: 5rem 0;
    margin: 0 0 0 var(--aside-width);
    width: calc(100% - var(--aside-width));
}

#main-about-container{
   text-align: center;
   width: 100%;
}

.about-statements{
   width: 90%;
   margin: 0 auto;
   font-size: 22px;
   font-weight: lighter;
}

.about-statements:not(:last-child){
   margin-bottom: 2rem;
}

.about-statements h3{
   color: var(--color5);
   font-size: 35px;
   font-weight: 500;
   margin-bottom: 1rem;
   padding-bottom: 1rem;
   border-bottom: 1px solid var(--color5);
}

.team{
   text-decoration: underline dotted 5px;
   margin: 5rem 0;
   text-align: center;
   font-size: 36px;
   font-weight: lighter;
   color: var(--color2);
}
.team b{
   color: var(--color3);
   font-size: 40px;
   margin-right: 5px;
}


.main-container{
   display: flex;
   height: 70vh;
   margin: 5rem 1% 0 1% !important;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.sub-container{
   scroll-snap-type: inline mandatory !important;
}


.profile{
   position: relative;
   width: 28% !important;
   height: 80% !important;
   border-radius: 10px;
   border: 1px solid black;
   overflow: hidden;
   scroll-snap-align: start !important;
}

.profile-text{
   position: absolute;
   padding: 1px;
   top: -102%;
   width: 98%;
   height: 100%;
   background-color: rgb(0,0,0,0.6);
   color:white;
   font-size: 18px;
   text-align: center;
   border-radius: 10px;
   transition: ease 600ms;
}

.profile-text h3{
    margin: 0 0 0rem 0;
}

.profile-text>*{
    transform: translateY(60%);
}

.picture{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
 }

 .picture.active{
    filter: blur(4px);
 }
 
 .lock{
     cursor: pointer;
     padding: 8px;
     font-size: 18px;
     position: absolute;
     color: var(--color3);
     bottom: 1rem;
     right: 1rem;
     opacity: 0;
     transition: all 600ms;
 }

.profile-text.active{
    top:0;
}

.profile:hover .profile-text{
   top: 0;
}

.profile:hover .picture{
   filter: blur(4px) !important;
}
.profile:hover .lock{
    opacity: 1 !important;
}



.swiper-pagination{
   bottom: 0rem !important;
}

.swiper-pagination-bullet-active{
   background-color: var(--color3) !important;
}
.swiper-pagination-bullet{
   padding: 7px;
}
.swiper-button-next, .swiper-button-prev{
   color: var(--color3) !important;
   top:45% !important;
}




footer{
    padding: 1rem  0 0;
    margin: 0 0 0 var(--aside-width);
    width: calc(100% - var(--aside-width));
    height: fit-content;
    background-color: var(--color2);
}

#main-footer-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 1rem;
    gap: 2rem 1.5rem;
    height: 80%;
    margin: 0 0 1rem 0;
}

#main-footer-container>*{
    width: 23%;
}

#main-footer-container ul{
    list-style: none;
}

#main-footer-container h2,
.col1 h3{
    margin: 0 0 .5rem 0;
    color: var(--color6);
}

.col1,
.col2,
.col3,
.col3 a,
.col2 a{
    color: var(--color1);
}

.col2 li:not(:last-child){
   margin: 0 0 1rem 0;
}
.col3 li:not(:last-child){
    margin: 0 0 1.3rem 0;
 }

 .col3 li{
    border-bottom: 2px solid var(--color1);
    padding-bottom: 2px;
 }

.col2 i{
    margin: 0 .6rem 0 0;
}

.col3 ul{
    list-style-image: url("/images//icons/pngwing.com.png") !important;
}

.col4{
    width: 23%;
    height: 100%;
}

#newsletter-text{
    margin-bottom: 2rem;
    text-align: left;
    font-size: 18px;
    color: var(--color1);
}

#newsletter-text h3{
    color: var(--color6);
    font-size: 23px;
}
#newsletter-entry{
    width: 100%;
    text-align: right;
}


#email-entry{
    margin: 0 0 .6rem 0;
    border: 1px solid var(--color3);
    width: 100%;
    height: 35px;
    font-size: 15.5px;
    text-indent: 5px;
}

#email-entry::placeholder{
    font-size:14px;
}

#join-btn{
    cursor: pointer;
    margin: 0 .5rem;
    position: relative;
    width:clamp(25%,35%,40%);
    height: 30px;
    font-weight: bold;
    color: var(--color2);
    background-image: url('/images/background/button.png');
    background-color: var(--color1);
    background-size: 300%;
    background-position-y:60%;
    background-position-x: 215%;
    background-repeat: no-repeat;
    transition: 450ms ease-in-out;
}

#join-btn:hover{
    color: #F3D8C7;
    background-position-x: 50%;
}

#join-btn::before{
    content: '';
    top:-5px;
    left: -6px;
    position: absolute;
    width: 110%;
    height: 30%;
    border: 1px solid var(--color1);
    border-bottom: none;
}

#join-btn::after{
    content: '';
    bottom:-5px;
    left: -6px;
    position: absolute;
    width: 110%;
    height: 30%;
    border: 1px solid var(--color1);
    border-top: none;
}

#footer-logo{
    height: 85px;
    margin: 0 0 -2rem 0;
}


#copyright-and-socials{
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 20px;
    background-color:var(--color6);
    color: var(--color5);
    font-size: clamp(15px,18px,20px);

}

#socials{
    display: flex;
    flex-flow: row;
    column-gap: 2rem;
}

.images{
    height: 35px;
}



@media (max-width:1200px){
    #main-footer-container>*{
        width:30%;
    }

    .profile{
        width: 34% !important;
     }

}



@media (max-width:992px){
    #main-footer-container>*{
        width:45%;
    }

    .profile{
        width: 45% !important;
     }

}

@media (max-width:768px){
    #main-footer-container>*{
        width:clamp(55%,60%,65%)
    }
    .profile{
        width: 60% !important;
     }
}

@media (max-width:576px){

    .profile{
        width: 96% !important;
     }

    #main-footer-container>*{
        width:90%;
    }
    #copyright-and-socials{
        height: 20%;
        display: flex;
        flex-flow: column;
        row-gap: 10px;
        padding: 10px 20px;
        background-color:var(--color6);
        color: var(--color5);
        font-size: 14px;
    
    }
    
    #socials{
        display: flex;
        flex-flow: row;
        column-gap: 1rem;
    }
    
    :root{
        --img-height:20px;
    }

    .images{
        height: var(--img-height);
    }

    .images:last-child{
        height: calc(var(--img-height) - 2px);
    }

}

@media (max-width:480px){
    #bubble{
        display: unset;
        position: fixed;
        bottom: 2%;
        right: 2%;
        width: 58px;
        height: 58px;
        border-radius: 50%;
        z-index: 4;
        transition: 250ms ease;
    }

    #bubble.active{
        opacity: 0;
    }

    #circle{
        background-color: var(--color3);
        padding: 20px;
        border-radius: 50%;
    }

    .policies{
        right: 5%;
        width: 80%;
        height: 35rem;
    }

    aside{
        width: 0;
    }
    
    aside.active{
        width: 210px;
    }
    
    nav{
        padding: 30px 0 115px 0;
    }

    nav>*{
        margin: 0 0 0 1.8rem;
    }

    .tab{
        font-size: 20px;
        width: 150px;
    }
    
    .lines{
        bottom: 52%;
    }

    #icon{
        display: none;
    }
    

    
    #company-logo{
        height: 65px;
        margin: 0 0 0 -1.5rem;
    }
    

    
    
    #nav-sub-container{
        list-style-type: none;
        display: flex;
        flex-flow: column;
        row-gap: 2.1rem;
        margin: 2.2rem 0 0 0;
    }
    

    section{
        margin: 0 0 0 0;
        width: 100%;
    }
    

    .about-statements{
        font-size: 85%;
    }

    .about-statements h3{
        font-size: 25px;
    }
    .profile{
        width: 100% !important;
        height: 70% !important;
     }

     .swiper-button-next, .swiper-button-prev{
        color: var(--color3) !important;
        top:38% !important;
        display: none !important;
     }
    
    
    footer{
        padding: 1rem  0 0 0;
        margin: 0 0 0 0;
        width: 100%;
        height: fit-content;
        background-color: var(--color2);
    }
    
    #main-footer-container{
        display: flex;
        flex-flow:column ;
        width: 100%;
        justify-content:center;
        padding: 1rem 1rem 2rem 1rem;
        row-gap: 2rem;
        height: 90%;
    }
    
    #main-footer-container>*{
        width: 100%;
    }
    

    
    
    #email-entry{
        font-size: 14px;
    }
    

    
    #footer-logo{
        height: 100px;
        margin: 0 0 -1.5rem -.9rem;
    }
    
    
    #copyright-and-socials{
        height: 20%;
        display: flex;
        flex-flow: column;
        row-gap: 10px;
        padding: 10px 20px;
        background-color:var(--color6);
        color: var(--color5);
        font-size: 14px;
    
    }
    
    #socials{
        display: flex;
        flex-flow: row;
        column-gap: 1rem;
    }
    
    :root{
        --img-height:20px;
    }

    .images{
        height: var(--img-height);
    }

    .images:last-child{
        height: calc(var(--img-height) - 2px);
    }
      
    
}
