:root{
    --color1:#F3D8C7;
    --color2:#7d1128;
    --color3:#f15a24;
    --color4:#ffffff;
    --color5:#01013a;
    --color6:#ffc5a1;
    --color7: #f4ebe5;
    --aside-width:95px;
    --mobile-aside-width:28px;
    --large-text:clamp(20px, 30px, 35px);
    --dec-right:2.5%;
    --dec-top:12%;

}/* ALL VARIABLES USED WITHIN CSS */

*{
    box-sizing: border-box;
    padding:0;
    border: 0;
    margin: 0;
    font-family: 'Calibri','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-tap-highlight-color: rgb(255, 255, 255,0);
    -webkit-focus-ring-color: rgb(255, 255, 255,0);
    scroll-behavior: smooth;
}/* GENERAL CODE FOR ALL ELEMENTS */

*:focus{
    outline: none;
}

a{
    color: black;
    text-decoration: none;
}

body,html{
    height: 100vh;
    position: relative;
    background-color:var(--color7);
    overflow-x: hidden;
}

body.active{
    overflow: hidden;
}

#overlay{
    position: fixed;
    background-color: rgb(0, 0, 0,0.7);
    width:100%;
    height:100vh;
    left: -100%;
    z-index: 4;
    transition: 450ms ease-in-out;
}

#overlay.active{
    left: 0;
}

#overlay2{
    position: fixed;
    background-color: rgb(0, 0, 0,0.7);
    width:100%;
    height:100vh;
    left: 0;
    display: none;
    z-index: 4;
    transition: 450ms ease-in-out;
}

#overlay2.active{
    display: block;
}

#bubble{
    display: none;
}

.policies{
    position: fixed;
    visibility: hidden;
    background-color: white;
    padding: 2rem 2rem;
    width: 50%;
    height: 30rem;
    top: 10%;
    right: 23%;
    z-index: 5;
    text-align: justify;
    font-family: 'Times New Roman';
    scale: 0;
    overflow-y: scroll;
    transition: 250ms ease-in-out;
}

.policies h1{
    font-family: 'Times New Roman';
    margin: 0 0 1rem 0;
}

.policies::-webkit-scrollbar {
    width: 10px;
  }

.policies::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}

.policies::-webkit-scrollbar-thumb{
    background-color: #c1c1c1;
    border-radius: 10px;
}

#privacy-policy.active,
#terms-and-conditions.active{
    visibility: visible;
    scale: 1;
}

#close-btn{
    position: fixed;
    top: 5%;
    right: 5%;
    cursor: pointer;
    z-index: 5;
    padding: 1rem 0;
    display: none;
}

#close-btn.active{
    display: block;
}

.close-lines{
    width: 2rem;
    height: 2px;
    background-color: var(--color3);
}

.cline1{
    rotate: 45deg;
    transform: translate(1.3px, 0px);
}

.cline2{
    rotate: -45deg;
    transform: translate(1.3px, 0px);
}

aside{
    position:fixed;
    background-color: var(--color1);
    border-right: 2px solid var(--color3);
    width: var(--aside-width);
    height: fit-content;
    overflow: hidden;
    z-index: 5;
    transition: 500ms;
    
}

aside.active{
    width: 230px;
}

nav{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 30px 0;
}

nav>*{
    margin: 0 0 0 1.9rem;
}

.lines{
    position: absolute;
    bottom: 50%;
    right: -3px;
    rotate: 90deg;
    cursor: pointer;
    padding: 10px 10px 10px 20px;
}

.line{
    position: relative;
    top: -10px;
    width: 20px;
    height: 2px;
    background-color: var(--color5);
    transition: transform 250ms ease;
    transition: rotate 250ms ease;
}

.line1.active{
    transform-origin: left;
    transform: translate(8.8px, -1px);
    rotate: 50deg;
}

.line2.active{
    display: none;
}

.line3.active{
    transform-origin: right;
    transform: translate(15.5px, -9px);
    rotate: 125deg;
}

.lines:hover .line{
    background-color: var(--color3);
}

.line:not(:last-child){
    margin-bottom: 0.1rem;
}

#company-logo{
    position: relative;
    display: inline-flex;
    height: 70px;
    margin: 0 0 0 -1.5rem;
}

#logo{
    position: absolute;
    height: 70px;
    opacity: 0;
    margin: 0 0 0 1rem;
    transition: opacity 300ms;
}

#logo.active{
    opacity: 1;
}

#icon{
    opacity: 1;
    transition: 300ms ease;
}

#icon.active{
    opacity: 0;
}

#nav-sub-container{
    list-style-type: none;
    display: flex;
    flex-flow: column;
    row-gap: 2rem;
    margin: 2.2rem 0 0 0;
}

.tab{
    font-size: 21px;
    font-weight: 600;
    width: 145px;
    color: var(--color5);
    transition: all 250ms;
}

.tab:hover, .actives{
    color: var(--color3);
}


.nav-text{
    opacity: 0;
    transition: opacity 400ms;
}

.nav-text.active{
    opacity: 1;
}

.tab i{
    margin: 0 .7rem 0 0;
}

section{
    margin: 0 0 0 var(--aside-width);
    width: calc(100% - var(--aside-width));
    padding: 0rem 0 5rem 0;
}


#back-text{
    position: absolute;
    color: transparent;
    font-size: 33rem;
    -webkit-text-stroke-width:1px;
    -webkit-text-stroke-color: rgb(1, 1, 58,0.2);
    z-index: 0;
    right: -17%;
    top: 60%;
}

.plane{
    position: absolute;
    top: 200%;
    left: 12%;
    rotate: 10deg;
    opacity: 1;
    z-index: 0;
    scale: 1.4;
}


#landing-section{
    display: flex;
    position: relative;
    width: 100%;
    height: 36rem;
    margin-bottom: 8rem;
    padding: 1.5rem 0 0 0;
    overflow: hidden;
}

#banner{
    position: absolute;
    width: 90%;
    height: 50px;
    right: 5%;
    background-image: url('/images/background/banner.png');
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 23px 20px 40px -22px var(--color5);
    z-index: 2;
}

#banner-text{
    margin: .5rem 0 0 5rem;
}

.sect{
    width: 50%;
}

#sect1{
    position: relative;
    padding: 7rem 1rem 0 1.5rem;
    font-size: 20px;
    color: var(--color5);
}

#sect1 h1{
    font-size: 40px;
    color: var(--color2);
}

#call-to-action{
    cursor: pointer;
    position: absolute;
    background:transparent;
    padding: 1rem 1rem;
    color: var(--color2);
    border: 1px solid var(--color2);
    border-radius: 5px;
    right: 15%;
    bottom: 22%;
    font-size:18px;
    font-weight: bolder;
    background-image: url('/images/background/button2.png');
    background-color: var(--color1);
    background-size: 300%;
    background-position-y:60%;
    background-position-x: 215%;
    background-repeat: no-repeat;
    transition: 400ms ease-in-out;
}

#call-to-action:hover,
#call-to-action:hover a{
    color: #F3D8C7;
    background-position-x: 50%;
}

#sect2{
    height: 100%;
}


.decoration{
    position: absolute;
    width: 23rem;
    height: 23rem;
    border-radius: 71% 29% 59% 41% / 49% 27% 73% 51%  ;
    right: var(--dec-right);
    top: var(--dec-top);
    
}


#dec1{
        background-color:var(--color1) ;
        z-index: 3;
        rotate: -90deg;
        right: calc(var(--dec-right) + 10%);
        top: calc(var(--dec-top) + 8%);
}
#dec2{
        background-color: var(--color2);
        z-index: 2;
        rotate: 25deg;
        top: calc(var(--dec-top) + 10%);
}
#dec3{
        background-color:var(--color3);
        rotate: -15deg;
        z-index: 1;
}

@keyframes levitate {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(10px);
    }
}

@keyframes magnify {
    from{
        scale:0.9;
    }
    to{
        scale: 1.1;
    }
    
}

#phone-and-shadow   {
    position: absolute;
    bottom: 0;
    width: 45%;
    height: 60%;
    z-index: 3;
}

#phone{
    position: absolute;
    z-index: 2;
    width: 100%;
    animation: levitate 2s infinite alternate linear;
}

#shadow{
    position: absolute;
    background-color: var(--color5);
    bottom: 3rem;
    left: 19%;
    transform: rotate3d(30, 0, 1, 80deg);
    box-shadow: 0 0 140px 80px black;
    animation: magnify 2s infinite alternate linear;
}

.sparkle{
    position: absolute;
    overflow: hidden;
    width: 50px;
    height: 50px;
    z-index: 3;
}

.ln1,
.ln2{
    top: 50%;
    position: absolute;
    width: 40%;
    height: 1px;
    background-color: black;
}

.ln2{
    right: 0;
}

.ln3,
.ln4{
    right: 50%;
    position: absolute;
    height: 40%;
    width: .1px;
    background-color: black;
}
.ln4{
    bottom: 0;
}

.ln{
    background-color: var(--color2);
}

.ln-alt{
    background-color: var(--color3);
}

#sparkle1{
    right:48%;
    bottom: 20%;
    rotate: 40deg;
    scale: 0.9;
}
#sparkle2{
    right:28%;
    bottom: 10%;
    rotate: 60deg;
    scale: 0.7;
}

#sparkle3{
    right:34%;
    top: 28%;
    rotate: 65deg;
    scale: 0.7;
}
#sparkle4{
    right:44%;
    bottom: 40%;
    rotate: 70deg;
    scale: 0.7;
}

#sparkle5{
    right:42%;
    bottom: 47%;
    rotate: 55deg;
    scale: 0.5;
}
#sparkle6{
    right:27%;
    bottom: 16%;
    rotate: 40deg;
    scale: 0.5;
}


#trending-container{
    width: 90%;
    display: flex;
    column-gap: 2rem;
    margin: 0 auto 10rem auto;
    height: 450px;
    z-index: 1;
}

#trending-statement{
    color: var(--color5);
    font-size: var(--large-text);
    width: 40%;
    z-index: 1;
}

#trending-main-slider{
    width: 60%;
}

#trending-statement p{
    font-size: calc(var(--large-text) - 10px);
    margin-top: 1rem;
}


#trendin-images{
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px;
}
.trend{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.swiper-pagination{
    bottom: 0rem !important;
 }

 .swiper-pagination-bullet-active{
    background-color: var(--color1) !important;
 }
 .swiper-pagination-bullet{
    padding: 7px;
 }

 #customer-support{
    position: relative;
    width: 98%;
    margin: 0rem auto 0rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:0rem 1rem;
}

.support-statements{
    position: relative;
    padding: 3rem 0 0 1rem;
    text-align: left;
    height: 300px;
    width: 31%;
    font-size: 20px;
    background-color: var(--color2);
    overflow: hidden;
    color: var(--color1);
}




.support-statements:nth-child(2){
    background-color: var(--color1);
    color: var(--color5);
}

.support-statements:nth-child(3){
    background-color: var(--color3);
}

@keyframes line1 {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(100%);
    }
}

@keyframes line2 {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(100%);
    }
}
@keyframes line3 {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }
}
@keyframes line4 {
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateY(-100%);
    }
}


.line-animated:nth-child(1){
    position: absolute;
    width: 100%;
    height: 3px;
    background:linear-gradient(to right, rgb(254, 69, 0, 0), rgb(0, 237, 254));
    top: 0;
    left: 0;
    animation: line1 2s linear infinite;
}

.line-animated:nth-child(2){
    position: absolute;
    width: 3px;
    height: 100%;
    background:linear-gradient(to bottom, rgb(254, 69, 0, 0), rgb(0, 237, 254));
    top: 0;
    right: 0;
    transform: translateY(-100%);
    animation: line2 2s linear infinite;
    animation-delay: 3s;
}

.line-animated:nth-child(3){
    position: absolute;
    width: 100%;
    height: 3px;
    background:linear-gradient(to left, rgb(254, 69, 0, 0), rgb(0, 237, 254));
    bottom: 0;
    left: 0;
    animation: line3 2s linear infinite;
}

.line-animated:nth-child(4){
    position: absolute;
    width: 3px;
    height: 100%;
    background:linear-gradient(to top, rgb(254, 69, 0, 0),rgb(0, 237, 254));
    top: 0;
    left: 0;
    transform: translateY(-100%);
    animation: line4 2s linear infinite;
    animation-delay: 3s;
}

.icon{
    position: absolute;
    opacity: 0.3;
    font-size: 15rem;
    bottom: -2rem;
    right: -2rem;
    rotate: -30deg;
}

.icon2{
    position: absolute;
    opacity: 0.3;
    font-size: 15rem;
    top: -5rem;
    left: -4rem;
    rotate: 170deg;
    color:linear-gradient(to top left,var(--color5), var(--color1) );
}

.icon3{
    position: absolute;
    opacity: 0.3;
    font-size: 15rem;
    bottom: -2rem;
    right: -2rem;
}

.learn{
    color: var(--color1);
    border: 2px solid var(--color1);
    padding: 3px 5px;
    transition: 250ms;
}

.support-statements:nth-child(2) .learn{
    color: var(--color5);
    border: 2px solid var(--color5);
    padding: 3px 5px;
    transition: 250ms;
}

.support-statements:nth-child(1) .learn:hover{
    background-color: var(--color1);
    color: var(--color2);
}

.support-statements:nth-child(2) .learn:hover{
    background-color: var(--color5);
    color: var(--color1);
}

.support-statements:nth-child(3) .learn:hover{
    background-color: var(--color1);
    color: var(--color3);
}


.support-statements p{
    margin: 1rem 0 3rem 0;
    line-height: 1.5rem;
}



footer{
    padding: 1rem  0 0;
    margin: 0 0 0 var(--aside-width);
    width: calc(100% - var(--aside-width));
    height: fit-content;
    background-color: var(--color2);
}

#main-footer-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 1rem;
    gap: 2rem 1.5rem;
    height: 80%;
    margin: 0 0 1rem 0;
}

#main-footer-container>*{
    width: 23%;
}

#main-footer-container ul{
    list-style: none;
}

#main-footer-container h2,
.col1 h3{
    margin: 0 0 .5rem 0;
    color: var(--color6);
}

#footer-logo{
    height: 85px;
    margin: 0 0 -2rem 0;
}

.col1,
.col2,
.col3,
.col3 a,
.col2 a{
    color: var(--color1);
}

.col2 li:not(:last-child){
   margin: 0 0 1rem 0;
}
.col3 li:not(:last-child){
    margin: 0 0 1.3rem 0;
 }

 .col3 li{
    border-bottom: 2px solid var(--color1);
    padding-bottom: 2px;
 }

.col2 i{
    margin: 0 .6rem 0 0;
}

.col3 ul{
    list-style-image: url("/images//icons/pngwing.com.png") !important;
}

.col4{
    width: 23%;
    height: 100%;
}


#newsletter-text{
    margin-bottom: 2rem;
    text-align: left;
    font-size: 18px;
    color: var(--color1);
}

#newsletter-text h3{
    color: var(--color6);
    font-size: 23px;
}
#newsletter-entry{
    width: 100%;
    text-align: right;
}


#email-entry{
    margin: 0 0 .6rem 0;
    border: 1px solid var(--color3);
    width: 100%;
    height: 35px;
    font-size: 15.5px;
    text-indent: 5px;
}

#email-entry::placeholder{
    font-size:14px;
}

#join-btn{
    cursor: pointer;
    margin: 0 .5rem;
    position: relative;
    width:clamp(25%,35%,40%);
    height: 30px;
    font-weight: bold;
    color: var(--color2);
    background-image: url('/images/background/button.png');
    background-color: var(--color1);
    background-size: 300%;
    background-position-y:60%;
    background-position-x: 215%;
    background-repeat: no-repeat;
    transition: 400ms ease-in-out;
}

#join-btn:hover{
    color: #F3D8C7;
    background-position-x: 50%;
}

#join-btn::before{
    content: '';
    top:-5px;
    left: -6px;
    position: absolute;
    width: 110%;
    height: 30%;
    border: 1px solid var(--color1);
    border-bottom: none;
}

#join-btn::after{
    content: '';
    bottom:-5px;
    left: -6px;
    position: absolute;
    width: 110%;
    height: 30%;
    border: 1px solid var(--color1);
    border-top: none;
}

#copyright-and-socials{
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 20px;
    background-color:var(--color6);
    color: var(--color5);
    font-size: clamp(15px,18px,20px);

}

#socials{
    display: flex;
    flex-flow: row;
    column-gap: 2rem;
}

.images{
    height: 35px;
}




@media (max-width:1200px){

    :root{
        --dec-right:0.5%;
        --dec-top:12%;
    }
    
    

    .decoration{
        scale: 0.9;
    }
    #main-footer-container>*{
        width:30%;
    }

    .support-statements{
        width: 45%;
    }

    #trending-container{
        width: 90%;
        display: flex;
        column-gap: 2rem;
        margin: 0 auto;
        height: 450px;
    }
    
    #trending-statement{
        color: var(--color5);
        font-size: var(--large-text);
        width: 40%;
    }
    
    #trending-main-slider{
        width: 60%;
    }
    
    #trending-statement p{
        font-size: calc(var(--large-text) - 10px);
        margin-top: 1rem;
    }
    
    
    #trendin-images{
        width: 100% !important;
        height: 100% !important;
        border-radius: 10px;
    }
    .trend{
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
    
    .swiper-pagination{
        bottom: 0rem !important;
     }
    
     .swiper-pagination-bullet-active{
        background-color: var(--color1) !important;
     }
     .swiper-pagination-bullet{
        padding: 7px;
     }
}

@media (max-width:992px){
    

    :root{
        --large-text:28px;
        --dec-right:-6%;
        --dec-top:12%;
    }


    #landing-section{
        display: flex;
        position: relative;
        width: 100%;
        height: 36rem;
        margin-bottom: 8rem;
        padding: 1.5rem 0 0 0;
        overflow: hidden;
    }
    
    #banner{
        position: absolute;
        width: 90%;
        height: 50px;
        right: 5%;
        background-image: url('/images/background/banner.png');
        background-size: 100%;
        background-repeat: no-repeat;
        box-shadow: 23px 20px 40px -22px var(--color5);
        z-index: 4;
    }

    #phone-and-shadow{
        right: -2%;
        top: 30%;
    }
    #phone{
        top: 20%;
    }
    
    #banner-text{
        margin: .5rem 0 0 5rem;
    }
    
    .sect{
        width: 50%;
    }
    
    #sect1{
        position: relative;
        padding: 7rem 1rem 0 1.5rem;
        font-size: 18px;
        color: var(--color5);
    }
    
    #sect1 h1{
        font-size: clamp(25px, 30px, 35px);
        color: var(--color2);
    }
    
    #call-to-action{
        scale: 0.9;
    }
    
    #call-to-action:hover,
    #call-to-action:hover a{
        color: #F3D8C7;
        background-position-x: 50%;
    }
    
    #sect2{
        height: 100%;
    }
    
    
    .decoration{
        scale: .7 .8;
    }
          
    #sparkle1{
        right:43%;
        bottom: 20%;
        rotate: 40deg;
        scale: 0.9;
    }
    #sparkle2{
        right:23%;
        bottom: 10%;
        rotate: 60deg;
        scale: 0.7;
    }
    
    #sparkle3{
        right:29%;
        top: 28%;
        rotate: 65deg;
        scale: 0.7;
    }
    #sparkle4{
        right:39%;
        bottom: 40%;
        rotate: 70deg;
        scale: 0.7;
    }
    
    #sparkle5{
        right:37%;
        bottom: 47%;
        rotate: 55deg;
        scale: 0.5;
    }
    #sparkle6{
        right:22%;
        bottom: 16%;
        rotate: 40deg;
        scale: 0.5;
    }

    #main-footer-container>*{
        width:45%;
    }
    .support-statements{
        width: 48%;
    }
    #trending-container{
        display: flex;
        column-gap: 2rem;
        margin: 0 auto;
        height: 450px;
    }
    
    #trending-statement{
        color: var(--color5);
        font-size: var(--large-text);
        width: 40%;
    }
    
    #trending-main-slider{
        width: 60%;
    }
    
    #trending-statement p{
        font-size: calc(var(--large-text) - 10px);
        margin-top: 1rem;
    }
    
    #trendin-images{
        width: 100% !important;
        height: 100% !important;
        border-radius: 10px;
    }
    .trend{
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }


}

@media (max-width:768px){
    :root{
        --large-text:26px;
        --dec-right:-8%;
        --dec-top:-0.5%;
    }
   

   #landing-section{
    display: flex;
    height:40rem;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-items: flex-start;
    padding: 1.5rem 0 0 0;
    overflow: hidden;
}

    #banner{
        top: 5%;
        height: 35px;
        right: 5%;
        z-index: 2;
    }

    #phone-and-shadow{
        right: 12%;
        top: 2%;
        width: 60%;
    }

    #phone{
        top: 40%;
    }

    #banner-text{
        margin: .5rem 0 0 5rem;
    }

    .sect{
        width: 40%;
    }

    #sect1{
        height: 45%;
        padding: 1rem 1rem 0 1.5rem;
        font-size: 18px;
        width: 100%;
        color: var(--color5);
    }

    #sect1 h1{
        font-size: clamp(25px, 30px, 35px);
        color: var(--color2);
    }

    #call-to-action{
        scale: 0.9;
        bottom: 3rem;
    }


    #sect2{
        height: 60%;
    }


    .decoration{
        scale: 0.7;
    }

    .sparkle{
        translate: -6rem -6rem;
    }
        
    #sparkle1{
        right:55%;
        bottom: 30%;
    }
    #sparkle2{
        right:22%;
        bottom: 28%;
    }

    #sparkle3{
        right:29%;
        top: 33%;
        
    }
    #sparkle4{
        right:45%;
        bottom: 42%;
    }

    #sparkle5{
        right:40%;
        bottom: 47%;
    }
    #sparkle6{
        right:19%;
        bottom: 33%;
    }



    #main-footer-container>*{
        width:clamp(55%,60%,65%)
    }

    #customer-support{
        gap:2rem 1rem
    }
    .support-statements{
        width: 80%;
    }
    #trending-container{
        padding:  0 0 0 1rem;
        width: 90%;
        flex-flow: column;
        gap: 2rem;
        height: fit-content;
    }
    
    #trending-statement{
        width: 100%;
    }
    
    #trending-main-slider{
        width: 100%;
    }

}

@media (max-width:576px){

    :root{
        --dec-right:-10%;
    }

    #landing-section{
        display: flex;
        height:40rem;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-items: flex-start;
        padding: .5rem 0 0 0;
        overflow: hidden;
    }
    
        #banner{
            top: 5%;
            height: 35px;
            right: 5%;
        }
    
        #phone-and-shadow{
            right: 0;
            top: 2%;
            width: 80%;
        }
    
        #phone{
            top: 40%;
        }
    
        #banner-text{
            margin: .5rem 0 0 5rem;
        }
    
        .sect{
            width: 40%;
        }
    
        #sect1{
            height: 45%;
            padding: 1rem 1rem 0 1.5rem;
            font-size: 18px;
            width: 100%;
            color: var(--color5);
        }
    
        #sect1 h1{
            font-size: clamp(25px, 30px, 35px);
            color: var(--color2);
        }
    
        #call-to-action{
            scale: 0.9;
            bottom: 0;
        }
    
    
        #sect2{
            height: 60%;
        }
    
    
        .decoration{
            scale: 0.7;
        }
    
        .sparkle{
            translate: -6rem -6rem;
        }
            
        #sparkle1{
            right:58%;
            bottom: 30%;
        }
        #sparkle2{
            right:20%;
            bottom: 28%;
        }
    
        #sparkle3{
            right:29%;
            top: 33%;
        }
        #sparkle4{
            right:44%;
            bottom: 42%;
        }
    
        #sparkle5{
            right:40%;
            bottom: 47%;
        }
        #sparkle6{
            right:14%;
            bottom: 33%;
            scale: 0.45;
        }

    #main-footer-container>*{
        width:90%;
    }
    .support-statements{
        width: 90%;
    }

    #trending-container{
        width: 96%;
        flex-flow: column;
        margin:  0 0 10rem 0 ;
        gap: 2rem;
        height: fit-content;
    }
    
    #trending-statement{
        width: 100%;
    }
    
    #trending-main-slider{
        width: 100%;
    }
    
    .swiper-pagination{
        bottom: 0rem !important;
     }
    
     .swiper-pagination-bullet{
        padding: 6px;
     }

     #copyright-and-socials{
        height: 20%;
        display: flex;
        flex-flow: column;
        row-gap: 10px;
        padding: 10px 20px;
        background-color:var(--color6);
        color: var(--color5);
        font-size: 14px;
    
    }
    
    #socials{
        display: flex;
        flex-flow: row;
        column-gap: 1rem;
    }
    
    :root{
        --img-height:20px;
    }

    .images{
        height: var(--img-height);
    }

    .images:last-child{
        height: calc(var(--img-height) - 2px);
    }

}

@media (max-width:480px){

    #bubble{
        display: unset;
        position: fixed;
        bottom: 2%;
        right: 2%;
        padding: 20px;
        border-radius: 50%;
        background-color: blue;
        z-index: 3;
        transition: 250ms ease;


    }

    #bubble.active{
        opacity: 0;
    }

    #circle{
        background-color: var(--color3);
        padding: 20px;
        border-radius: 50%;
    }


    .policies{
        right: 5%;
        width: 80%;
        height: 35rem;
    }
    
    aside{
        width: 0;
    } 
    
    aside.active{
        width: 210px;
    }
    
    nav{
        padding: 30px 0 115px 0 !important;
    }
    
    nav>*{
        margin: 0 0 0 1.8rem;
    }

    .tab{
        font-size: 20px;
        width: 150px;
    }

    #icon{
        display: none;
    }
    
    .lines{
        bottom: 52%;
    }
    

    
    #company-logo{
        height: 65px;
        margin: 0 0 0 -1.5rem;
    }
    

    
    
    #nav-sub-container{
        list-style-type: none;
        display: flex;
        flex-flow: column;
        row-gap: 2.1rem;
        margin: 2.2rem 0 0 0;
    }
    


    section{
        margin: 0 0 0 0;
        width: 100% ;
    }

    #call-to-action{
        right: unset;
    }

    #customer-support{
        gap: 3rem;
        margin-top: 0;
    }

    .support-statements{
        height: 350px;
        width: 97%;
    }

    .swiper-pagination{
        bottom: 1rem !important;
     }
    
     .swiper-pagination-bullet-active{
        background-color: var(--color1) !important;
     }
     .swiper-pagination-bullet{
        padding: 6px;
     }
    
    
    
    footer{
        padding: 1rem  0 0 0;
        margin: 0 0 0 0;
        width: 100%;
        height: fit-content;
        background-color: var(--color2);
    }
    
    #main-footer-container{
        display: flex;
        flex-flow:column ;
        width: 100%;
        justify-content:center;
        padding: 1rem 1rem 2rem 1rem;
        row-gap: 2rem;
        height: 90%;
    }
    
    #main-footer-container>*{
        width: 100%;
    }
    

    
    
    #email-entry{
        font-size: 14px;
    }
    

    
    #footer-logo{
        height: 100px;
        margin: 0 0 -1.5rem -.9rem;
    }
    
    
    #copyright-and-socials{
        height: 20%;
        display: flex;
        flex-flow: column;
        row-gap: 10px;
        padding: 10px 20px;
        background-color:var(--color6);
        color: var(--color5);
        font-size: 14px;
    
    }
    
    #socials{
        display: flex;
        flex-flow: row;
        column-gap: 1rem;
    }
    
    :root{
        --img-height:20px;
    }

    .images{
        height: var(--img-height);
    }

    .images:last-child{
        height: calc(var(--img-height) - 2px);
    }

    
}
