:root{
    --color1:#F3D8C7;
    --color2:#7d1229;
    --color3:#ff4500;
    --color4:#ffffff;
    --color5:#01013a;
    --color6:#ffc5a1;
    --color7: #faf3ee;
    --aside-width:95px;
    --mobile-aside-width:25px;
}

*{
    box-sizing: border-box;
    padding:0;
    border: 0;
    margin: 0;
    font-family: 'Calibri','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-tap-highlight-color: rgb(255, 255, 255,0);
    -webkit-focus-ring-color: rgb(255, 255, 255,0);
}

*:focus{
    outline: none;
}

a{
    color: black;
    text-decoration: none;
}

body,html{
    position: relative;
    background-color:var(--color7);
}

body.active{
    overflow: hidden;
}

#overlay{
    position: fixed;
    background-color: rgb(0, 0, 0,0.7);
    width:100%;
    height:100vh;
    left: -100%;
    z-index: 3;
    transition: 450ms ease-in-out;
}

#overlay.active{
    left: 0;
}

aside{
    position:fixed;
    background-color: var(--color1);
    border-right: 2px solid var(--color3);
    width: var(--aside-width);
    height: fit-content;
    overflow: hidden;
    z-index: 5;
    transition: 500ms;
    
}

aside.active{
    width: 230px;
}

nav{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 30px 0;
}

nav>*{
    margin: 0 0 0 1.9rem;
}

.lines{
    position: absolute;
    bottom: 50%;
    right: -3px;
    rotate: 90deg;
    cursor: pointer;
}

.line{
    width: 20px;
    height: 2px;
    background-color: var(--color5);
}

.lines:hover .line{
    background-color: #ff4500;
}

.line:not(:last-child){
    margin-bottom: 0.1rem;

}

#company-logo{
    position: relative;
    display: inline-flex;
    height: 70px;
    margin: 0 0 0 -1.5rem;
}

#logo{
    position: absolute;
    height: 70px;
    opacity: 0;
    margin: 0 0 0 1rem;
    transition: opacity 300ms;
}

#logo.active{
    opacity: 1;
}

#icon{
    opacity: 1;
    transition: 300ms ease;
}

#icon.active{
    opacity: 0;
}

#nav-sub-container{
    list-style-type: none;
    display: flex;
    flex-flow: column;
    row-gap: 2rem;
    margin: 2.2rem 0 0 0;
}

.tab{
    font-size: 21px;
    font-weight: 600;
    width: 145px;
    color: var(--color5);
    transition: all 250ms;
}

.tab:hover, .actives{
    color: var(--color3);
}


.nav-text{
    opacity: 0;
    transition: opacity 400ms;
}

.nav-text.active{
    opacity: 1;
}

.tab i{
    margin: 0 .7rem 0 0;
}

section{
    margin: 0 0 0 var(--aside-width);
    width: calc(100% - var(--aside-width));
    background-image: url("/images/background/background.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y:100% ;
    padding: 5rem 0 5rem 0;    
}

#service-header{
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-size: 35px;
    border-bottom:5px dotted var(--color2);
    padding-bottom: 1.5rem;
    color: var(--color2);
    margin: 0 0 6rem 0;
 }
 
 #service-header b{
    color:var(--color3)
 }

#services-tabs{
    position: relative;
    padding-bottom: 10rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    --font-size:16px;
 }
 
 .service-tab{
    position: relative;
    width: 31%;
    height: 28rem;
    text-align: center;
    background: var(--color4);
    border-radius: 10px;
    transition: 300ms;
 }
 
 .service-tab p, i, h3{
    margin: 1rem auto 0 auto;
 }
 
 .service-tab p{
    width: 95%;
    font-size: var(--font-size);
 }
 
 .service-tab i{
     font-size: 25px;
     padding: 20px;
     background: var(--color2);
     color: white;
     border-radius: 28% 72% 14% 86% / 46% 36% 64% 54%;
     transition: 400ms;
 }
 
 
 
 
 .service-btn{
    position: absolute;
    bottom: 1.5rem;
    left: 35%;
    cursor: pointer;
    width:35%;
    height: 40px;
    font-weight: bold;
    color: var(--color2);
    border-radius: 3px;
    background-image: url('/images/background/button.png');
    background-color: var(--color1);
    background-size: 300%;
    background-position-y:60%;
    background-position-x: 215%;
    background-repeat: no-repeat;
    transition: 450ms ease-in-out;
 }
 
 .service-tab:hover i{
    color: var(--color2);
    background-color:rgb(135,135,135,0.07);
 }
 
 .service-btn:hover{
    color: #F3D8C7;
    background-position-x: 50%; 
 }
 
 .service-tab:hover{
    box-shadow: 0px 20px 50px -22px rgb(255, 69, 0,0.72);
 }

#request-form-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.request-form{
    position: relative;
    background-color: var(--color1);
    border-left: 2px solid var(--color3);
    border-bottom: 2px solid var(--color3);
    box-shadow: 8px 10px 30px -10px rgb(0, 0, 0,0.7);
    padding: 0rem 0 2rem 0;
}

.request-table{
    border-collapse:separate;
    border-spacing: 50px 0;
}

.request-table th{
   height: 5rem;
   font-size: 25px;
   text-indent: 2.5rem;
}


.rows{
    height: 5rem;
}


.row-data input,
.row-data textarea,
.row-data select{
    background: linear-gradient(to top, rgba(255, 255, 255, 0.15) 10%,rgb(225,225,225,0) 90%);
    border-bottom: 2px solid rgb(125, 18, 41,0.5);
    border-radius: 0 0 8px 0;
    text-indent: .6rem;
    width: 18rem;
    height: 2rem;
    margin: .6rem 0 0 0;
    font-size: 18px;
    transition: 250ms;
}

.row-data textarea{
    height: 6rem;
    width: 19rem;
}

.row-data input:focus,
.row-data textarea:focus,
.row-data select:focus{
    border-bottom: 2px solid var(--color3);
}

#submit{
    cursor: pointer;
    color: var(--color1);
    font-size: 20px;
    padding: 10px 20px;
    background-image: url('/images/background/button.png');
    background-color: var(--color2);
    background-size: 300%;
    background-position-y:60%;
    background-position-x: 215%;
    background-repeat: no-repeat;
    transition: 450ms ease-in-out;
}

#submit:hover{
    background-position-x: 50%;
}

.square{
    position: absolute;
}

.square1{
    bottom: 0;
    right: 0;
    height:7rem;
    width:7rem;
    background-color: var(--color3);
}
.square2{
    right: 10.9%;
    bottom: 13.8%;
    width: 2rem;
    height: 2rem;
    background-color: var(--color1);
}

#mobile-request-form-container{
    display: flex;
    width: 100%;
    justify-content: center;
    display: none;
}

 footer{
    padding: 1rem  0 0;
    margin: 0 0 0 var(--aside-width);
    width: calc(100% - var(--aside-width));
    background-color: var(--color2);
}

#main-footer-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 1rem;
    gap: 2rem 1.5rem;
    height: 80%;
    margin: 0 0 1rem 0;
}

#main-footer-container>*{
    width: 23%;
}

#main-footer-container ul{
    list-style: none;
}

#main-footer-container h2,
.col1 h3{
    margin: 0 0 .5rem 0;
    color: var(--color6);
}

.col1,
.col2,
.col3,
.col3 a,
.col2 a{
    color: var(--color1);
}

.col2 li:not(:last-child){
   margin: 0 0 1rem 0;
}
.col3 li:not(:last-child){
    margin: 0 0 1.3rem 0;
 }

 .col3 li{
    border-bottom: 2px solid var(--color1);
    padding-bottom: 2px;
 }

.col2 i{
    margin: 0 .6rem 0 0;
}

.col3 ul{
    list-style-image: url("/images//icons/pngwing.com.png") !important;
}

.col4{
    width: 23%;
    height: 100%;
}

#newsletter-text{
    margin-bottom: 2rem;
    text-align: left;
    font-size: 18px;
    color: var(--color1);
}

#newsletter-text h3{
    color: var(--color6);
    font-size: 23px;
}
#newsletter-entry{
    width: 100%;
    text-align: right;
}


#email-entry{
    margin: 0 0 .6rem 0;
    border: 1px solid var(--color3);
    width: 100%;
    height: 35px;
    font-size: 15.5px;
    text-indent: 5px;
}

#email-entry::placeholder{
    font-size:14px;
}

#join-btn{
    cursor: pointer;
    margin: 0 .5rem;
    position: relative;
    width:clamp(25%,35%,40%);
    height: 30px;
    font-weight: bold;
    color: var(--color2);
    background-image: url('/images/background/button.png');
    background-color: var(--color1);
    background-size: 300%;
    background-position-y:60%;
    background-position-x: 215%;
    background-repeat: no-repeat;
    transition: 450ms ease-in-out;
}

#join-btn:hover{
    color: #F3D8C7;
    background-position-x: 50%;
}

#join-btn::before{
    content: '';
    top:-5px;
    left: -6px;
    position: absolute;
    width: 110%;
    height: 30%;
    border: 1px solid var(--color1);
    border-bottom: none;
}

#join-btn::after{
    content: '';
    bottom:-5px;
    left: -6px;
    position: absolute;
    width: 110%;
    height: 30%;
    border: 1px solid var(--color1);
    border-top: none;
}

#footer-logo{
    height: 100px;
    margin: 0 0 -1rem 0;
}


#copyright-and-socials{
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 20px;
    background-color:var(--color6);
    color: var(--color5);
    font-size: clamp(15px,18px,20px);

}

#socials{
    display: flex;
    flex-flow: row;
    column-gap: 2rem;
}

.images{
    height: 35px;
}



@media (max-width:1200px){

    #service-header{
        font-size:30px;
    }

    #main-footer-container>*{
        width:30%;
    }

    .service-tab{
        width: 35%;
    }
}

@media (max-width:992px){
    #main-footer-container>*{
        width:45%;
    }
    .service-tab{
        width: clamp(40%,45%,50%);
    }
}

@media (max-width:768px){
    #main-footer-container>*{
        width:clamp(55%,60%,65%)
    }

    #service-header{
        font-size:28px;
    }

    .service-tab{
        width: clamp(45%,60%,70%);
    }
}

@media (max-width:576px){
    #main-footer-container>*{
        width:90%;
    }
    .service-tab{
        width: clamp(80%,90%,95%);
    }

    #copyright-and-socials{
        height: 20%;
        display: flex;
        flex-flow: column;
        row-gap: 10px;
        padding: 10px 20px;
        background-color:var(--color6);
        color: var(--color5);
        font-size: 14px;
    
    }
    
    #socials{
        display: flex;
        flex-flow: row;
        column-gap: 1rem;
    }
    
    :root{
        --img-height:20px;
    }

    .images{
        height: var(--img-height);
    }

    .images:last-child{
        height: calc(var(--img-height) - 2px);
    }

}

@media (max-width:480px){
    aside{
        width: var(--mobile-aside-width);
    }
    
    aside.active{
        width: 210px;
    }
    
    
    nav>*{
        margin: 0 0 0 1.5rem;
    }

    #icon{
        display: none;
    }
    
    .lines{
        bottom: 52%;
    }
    

    
    #company-logo{
        height: 65px;
        margin: 0 0 0 -1.5rem;
    }
    

    
    
    #nav-sub-container{
        list-style-type: none;
        display: flex;
        flex-flow: column;
        row-gap: 2.1rem;
        margin: 2.2rem 0 0 0;
    }
    

    section{
        margin: 0 0 0 var(--mobile-aside-width);
        width: calc(100% - var(--mobile-aside-width));
    }


    #service-header{
        font-size:30px;
    }

    #services-tabs{
        gap: 3rem 0;
    }
    
    .service-tab{
        width: 96%;
        height: 30rem;
    }

    #request-form-container{
        display: none;
    }

    #mobile-request-form-container{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    .mobile-form, .mobile-table{
        width: 96%;
        overflow: hidden;
        padding-bottom: 3rem;
    }

    .mobile-form{
        border-left-color: var(--color2);
        border-bottom-color: var(--color2);
    }
    .mobile-table{
        margin-left: -1rem;
    }

    .request-table th{
        font-size: 20px;
        text-indent: -4rem;
    }

    .row-data input,
    .row-data select{
        width: 14rem;
    }

    .row-data textarea{
        width: 16rem;
    }

    .square2{
        bottom:5.1rem;
        right: 5.1rem;
    }
    
    footer{
        padding: 1rem  0 0 5px;
        margin: 0 0 0 var(--mobile-aside-width);
        width: calc(100% - var(--mobile-aside-width));
        height: fit-content;
        background-color: var(--color2);
    }
    
    #main-footer-container{
        display: flex;
        flex-flow:column ;
        width: 100%;
        justify-content:center;
        padding: 1rem 1rem 2rem 1rem;
        row-gap: 2rem;
        height: 90%;
    }
    
    #main-footer-container>*{
        width: 100%;
    }
    

    
    
    #email-entry{
        font-size: 14px;
    }
    

    
    #footer-logo{
        height: 100px;
        margin: 0 0 -1.5rem -.9rem;
    }
    
    
    #copyright-and-socials{
        height: 20%;
        display: flex;
        flex-flow: column;
        row-gap: 10px;
        padding: 10px 20px;
        background-color:var(--color6);
        color: var(--color5);
        font-size: 14px;
    
    }
    
    #socials{
        display: flex;
        flex-flow: row;
        column-gap: 1rem;
    }
    
    :root{
        --img-height:20px;
    }

    .images{
        height: var(--img-height);
    }

    .images:last-child{
        height: calc(var(--img-height) - 2px);
    }
      
    
}
